@use "sass:math";
// &__logo {
// 	margin: 0px 0px math.div(16px, 24px) * 1em 0px;
// }

.footer {
    background-color: #f6f6f6;

    // .footer__container
}

.footer-top {
    padding: 70px 0 40px;
    border-bottom: 1px solid #ececec;
    display: flex;
    align-items: flex-start;
    // .footer-top__item
    &__contact{
        width: 250px;
        margin-right: 50px;
    }
    &__nav{
        width: 170px;
        margin-right: 30px;
    }
    &__item-form{
        max-width: 470px;
    }
    &__logo{
        margin-bottom: 33px;
        display: block;
    }

    // .footer-top__adress
    // .footer-top__email
    // .footer-top__number

    &__adress,
    &__email,
    &__number {
        display: block;
        margin-bottom: 14px;
    }

    // .footer-top__social

    &__social {
        display: flex;
        margin-top: 30px;
    }

    // .footer-top__social-item

    &__social-item + .footer-top__social-item{
        padding-left: 18px;
    }
    //.footer-top__social-link
    &__social-link{
        transition: all 0.4s ease 0s;
        &:hover{
            path{
                fill:$accentColor
            }
        }
    
    }
    // .footer-top__title

    &__title {
        margin-bottom: 40px;
        color:$titleColor;
        font-family: 'Roboto-Medium';
        font-size: 22px;
        line-height: 100%;
    }


    // .footer-top__link

    &__link {
        display: block;
        margin-bottom: 14px;
    }

    // .footer-top__text

    &__text {
        margin-bottom: 25px;
    }

    // .footer-top__input

    &__input {
        background: #fff;
        max-width: 320px;
        width: 100%;
        border:none;
        padding: 14px 12px 14px;
        box-shadow: 0px 7px 20px 0px rgba(192,192,192, 0.3) ;

        &::placeholder{
            font-size: 16px;
            color: #8d8d8d;
        }
    }
}

.form {

    // .form__btn

    &__btn {
        border:none;
        background-color: $accentColor;
        color: #fff;
        box-shadow: 0px 7px 20px 0px rgba(255,17,40, 0.3) ;
    }
}

.footer-bottom {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
 
    // .footer-bottom__accept-img

    &__accept-img {
        margin-left: 25px;
        vertical-align: middle;
    }
}