//====================================================================================================
.top-slider {
  // .top-slider__container
  background-image: url(../img/slider_bg.jpg);
  background-repeat: no-repeat;
  padding-top: 65px;
  position: relative;
  &__container {
    max-width: 1500px;
  }

  // .top-slider__item

  &__item {
    display: flex;
  }

  // .top-slider__content

  &__content {
    padding-top: 125px;
    padding-left: 160px;
  }

  // .top-slider__title

  &__title {
    width: 670px;
    @include adaptiv-value("font-size", 58, 32, 1);
    line-height: math.div(28, 20) * 100%;
    font-family: "Roboto";
    font-weight: bold;
    color: $titleColor;
  }

  // .top-slider__text

  &__text {
    max-width: 470px;
    margin-bottom: 65px;
  }

  // .top-slider__btn

  &__btn {
    color: #fff;
    background-color: $accentColor;
    text-transform: uppercase;
    font-family: "Roboto-Regular";
    padding: 14px 50px;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 40, 0.3);
  }
}

//====================================================================================================
.categories {
  padding: 120px 0px 0px 0px;
  background-image: url("../img/categories-left-bg.png");
  background-repeat: no-repeat;
  background-position: center left;
  &__inner {
    background-image: url("../img/categories-right-bg.png");
    background-repeat: no-repeat;
    
    background-position:center right;
  }
  
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  position: relative;
  &::before,
  &::after{
    content:'';
    position: absolute;
    z-index: -1;
    
  }
  &::before{
    background-image: url(../img/categories-ring.svg);
    top: -40px;
    left: -40px;
    width: 120px;
    height: 121px;
  }
  &::after{
    background-image: url(../img/sq.svg);
    bottom: -20px;
    right: -20px;
    width: 65px;
    height: 52px;
    
  }
  // .info__item

  &__item {
    max-width: 370px;
    padding: 60px 30px;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    background-color: #fff;
    

  }

  // .info__item-title

  &__item-title {
    color: $titleColor;
    font-size: 22px;
    line-height: 26px;
    font-family: Roboto-Regular;
    padding: 40px 0px 22px 0px;
  }

  // .info__item-text

  &__item-text {
  }
}

.categories-content {
  text-align: center;
  // .categories-content__title

  &__title {
  }

  // .categories-content__text

  &__text {
    margin-bottom: 60px;
  }

  // .categories-content__items

  &__items {
    display: grid;
    min-height: 635px;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-gap: 30px;
  }

  // .categories-content__item

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: left;
    padding: 40px 0px 0px 40px;
    &:nth-child(1){
      grid-row:span 2;
      .categories-content__item-subtitle,
      .categories-content__item-link:hover{
        color: #5800e4;
      }
    }
    &:nth-child(2){
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;
      .categories-content__item-subtitle,
      .categories-content__item-link:hover{
        color: $accentColor;
      }
    }
    &:nth-child(3){
      .categories-content__item-subtitle,
      .categories-content__item-link:hover{
        color: #ffb534;
      }
    }
    &:nth-child(4){
      .categories-content__item-subtitle,
      .categories-content__item-link:hover{
        color: #34c3ff;
      }
    }
  }

  // .categories-content__item-subtitle

  &__item-subtitle {
    margin-bottom: 5px;
  }

  // .categories-content__item-title

  &__item-title {
    font-family: "Roboto-Medium";
    font-size: 22px;
    color: $titleColor;
    margin-bottom: 16px;
  }

  // .categories-content__item-link

  &__item-link {
    font-family: "Roboto-Regular";
    text-transform: uppercase;
    color: $titleColor;
  }
}



